/*!***************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/style.css ***!
  \***************************************************************************************************************************************/
*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table{
    width: 80%;
    height: 400px;
    table-layout: fixed;
    font-size: 40px;
    text-align: center;
    outline: 1px solid;
    /* transform: rotateX(50deg); */
  }
   table tr{
      height: 33.33%;
  }
   table td{
      border: 1px solid gray;
      border-collapse: collapse;
      position: relative;
  }
  .game-container{
     width: 90vw;
     height: 90vh;
     margin: auto;
     margin-top: 1rem;
     padding: 1rem;
     background-color: antiquewhite;
     display: grid;
     grid-template-columns:repeat(2,1fr);
     grid-template-rows: auto;
     grid-template-areas: 'player1 player2'
                           'controls' ;
    justify-items: center;
    align-items: center;
    gap: 10px;
  }
  .game-container section{
    background-color: #fff;
  }
  .game-container .player-1{
    grid-area: 'player1';
  }
  .game-container .player-2{
    grid-area: 'player2';
  }
  .game-container .controls{
    grid-area: 'controls';
  }
