*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table{
    width: 80%;
    height: 400px;
    table-layout: fixed;
    font-size: 40px;
    text-align: center;
    outline: 1px solid;
    /* transform: rotateX(50deg); */
  }
   table tr{
      height: 33.33%;
  }
   table td{
      border: 1px solid gray;
      border-collapse: collapse;
      position: relative;
  }